.Card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid RGB(36, 26 , 17);
    padding: 20px;
    background-color: RGB(73, 17 , 2);
    /* background-color: RGB(73, 17 , 2); */
    /* background-image: url("../../img/FondoHome.jpg"); */
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: white;
    transition:all .7s ease-in-out;

}
.Card:hover{
    -webkit-transform:scale(0.5);transform:scale(0.9);
}
.Img{
    /* width: 350px; */
    width: 90%;
    height: 75%;
    border-radius: 5px;
    border: black;
}
.TitleCard{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
}
.DietDetail{
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 810px){
    .TitleCard{
        font-size: 17px;
    }
    .Card{
        width: 320px;
        height: 340px;
    }
}