.Form {
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    flex-direction: column;
    width: 35%;
    padding-top: 140px;
    color: whitesmoke;
    /* border: 2px black solid; */
    padding-left: 1150px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.Titulo{
    margin-right: 20px;
    padding: 3px;
    border-radius: 5px;
}
.Checking{
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
}
.CheckingBox{
    margin-left: 10px;
    width: 30px;
    height: 20px;
}
.Error{
    color: red;
    background-color: rgba(255, 255, 255, 0.561);
}
.Button{
    /* font-family: 'Bebas Neue', cursive;
    font-size: 30px; */
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    background-color: RGB(73, 17 , 2);
    border-radius: 6px;
    border: 2px solid RGB(36, 26 , 17);
    padding: 10px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.DivInputs{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.DivChiquito{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.609);
    justify-content:space-between;
    margin-top: 5px;
    margin-bottom: 7px;

}
input{
    width: 300px;
    padding-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    outline: none;
}