.Search {
    margin-top: 35px;
}
.input {
    width: 250px;
    height: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.button {
    height: 35px;
    width: 55px;
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    margin-left: 5px;
}