/* .Search {
    justify-content: unset;
} */
.input {
    width: 250px;
    height: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding-left: 0;
}
.button {
    height: 35px;
    width: 55px;
    font-family: 'Bebas Neue', cursive;
    font-size: 19px;
    margin-left: 5px;
}

@media (max-width: 810px){
    .input{
        width: 100px;
        height: 100%;
    }
    .button{
        height: 100%;
        width: 60px;
        /* font-size: 15px; */
    }
}