.contenedorGeneral{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
}
.landingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.Logo{
  width: 350px;
  height: 40vh;
}
.Join{
  font-family: 'Bebas Neue', cursive;
  font-size: 240%;
  color: whitesmoke;
}

.Content{
  margin-bottom: -10%;
}

.Link{
  font-size: 800%;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  transition:all .5s ease-in-out;
  font-family: 'Bebas Neue', cursive;
}
.Link:hover{
  opacity: 0.9;
}

@media (max-width: 1090px) {
  .contenedorGeneral{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .Link{
    /* color: rgb(246, 155 , 91); */
    /* color: rgb(30, 23 , 9); */
    color: rgb(30, 23 , 9);
    opacity: 1;
    /* -webkit-text-stroke: 0.1px rgb(30, 15 , 18); */
    -webkit-text-stroke: 0.1px whitesmoke;
  }
  .Join{
    color: rgb(30, 23 , 9);
    -webkit-text-stroke: 0.1px rgb(246, 155 , 91);
  }
}

@media (max-width: 500px) {
  .Link{
    font-size: 500%;
    color: rgb(30, 23 , 9);
    opacity: 1;
    -webkit-text-stroke: 0.1px rgb(244, 236 , 191);
  }
  .Join{
    display: none;
  }
  .Logo{
    width: 150%;
  }
}