.Cards{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
    /* background-image: url("../../img/FondoHome.jpg");
    background-position: right; */
}
.link{
    text-decoration: none;
    /* margin-top: 10px; */
    /* padding: 10px; */
}
.Cargando{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 1150px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.Botonera {
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Back{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    border-radius: 7px;
}
.Next{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    border-radius: 7px;
}
.Fondito{
    width: 100%;
    height: 40%;
    margin-top: 80px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 37px;
}