.Nav{
    width: 100%;
    height: 100px;
    background-color: RGB(73, 17 , 2);
    display: flex;
    flex-direction:row;
    place-items: bottom;
    position:fixed;
    /* top: 0px; */
}
.img{
    cursor: pointer;
}
.LinkCreateRecipe{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-top: 31px;
    font-size: 35px;
    margin-left: 100px;
}