.Nav{
    width: 100%;
    background-color: RGB(73, 17 , 2);
    position:fixed;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    min-height: 8vh;
    border-bottom: 2px solid RGB(36, 26 , 17);
    /* top: 0px; */
    z-index: 1;
}
.img{
    cursor: pointer;
    transition:all .5s ease-in-out;
    width: 100px;
}
.img:hover {
    filter: grayscale(80%);
}
.LinkCreateRecipe{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    transition:all .5s ease-in-out;
}
.LinkCreateRecipe:hover{
    color: rgba(255, 255, 255, 0.603)
}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: 0.2s 0.1s;
}
.ham:hover{
    transform: rotate(360deg);
}

.ham span{
    display: block;
    background-color: white;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}
.menu{
    display: flex;
    padding: 0;
}
.menu li{
    padding: 0 40px;
    list-style-type: none;
}

/* VERSION MOBILE */
@media (max-width: 810px){
    /* body{
        overflow: hidden;
    } */
    .img{
        padding-left: 25px;
        width: 115px;
    }
    .ham{
          display:block;
          cursor:pointer;
          position: absolute; 
          top:15px;
          right:25px;
          transition: 0.2s  0.1s; 
    }
    .LinkCreateRecipe{
        font-size: 30px;
    }
    .Nav {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
}

/* Esto se va a activar para mostrar el menu desplegable */
.menu.activado{
    display: flex;
}
.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px); 
}
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
    
}