.DetailCss{
    background-image: url("../../img/FondoHome.jpg");
    background-position: right;
}
.Box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    height: 84VH;
}
.Resumen{
    max-width: 70%;
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 15px;
}
.Tips{
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
.ImageRecipe{
    border-radius: 13px;
    padding-top: 10px;
}
.Title{
    background-color: rgba(255, 255, 255, 0.589);
    padding: 10px;
    border-radius: 13px;
}