.Box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    /* height: 100%; */
}
.Resumen{
    max-width: 70%;
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 15px;
}
.Tips{
    font-family: 'Bebas Neue', cursive;
    color: black;
    background-color:rgba(255, 255, 255, 0.589);
    font-weight: 700;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
    font-size: 30px;
}
.ImageRecipe{
    border-radius: 13px;
    padding-top: 10px;
}
.Title{
    background-color: rgba(255, 255, 255, 0.589);
    padding: 10px;
    border-radius: 13px;
}
.Pasos{
    background-color: rgba(0, 0, 0, 0.733);
    max-width: 80%;
    padding: 40px;
    border-radius: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: rgb(224, 212, 212);
}
.TitleStep{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: RGB(73, 17 , 2);
}